.create-task-btn {
    margin: 10px 10px !important;
}
 
h1 {
    text-align: center;
}

.tasks-list {
    margin-top: 20px;
}

.delete-button {
    margin-left: 25px;
}

.edit-form {
    margin-top: 20px;
}

.edit-button {
    margin-top: 20px !important;
}

